
.ui-page {
background: -webkit-linear-gradient(left top, #0a0b49 , #7979bf); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom right, #0a0b49, #7979bf); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom right, #0a0b49, #7979bf); /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom right, #0a0b49 , #7979bf); /* Standard syntax */
background:url(../img/splash640x1136.png) repeat center top; 
}


.ui-content {

padding: 0 !important;

}
 
.ui-listview {
    margin: 0 !important;
}
 
.list-wrapper, .list-wrapper div.iscroll-scroller {
    width: 100% !important;
}

.dtlstabletpanel
{
display:none;


}

.dtlstablet-lst
{

}

.dtls-wrapper
{
margin:12px;
}

#event-players li.staticlist {
    background-color: rgba(255,255,255,0.9); !important;
    background-image: url('') !important;
}

#joueur-list li a{
    background-color: rgba(255,255,255,0.9); !important;
    background-image: url('') !important;
}

#event-data li {
    background-color: rgba(255,255,255,0.9); !important;
    background-image: url('') !important;
}

#whatsnext li a {
    background-color: rgba(255,255,255,0.9); !important;
    background-image: url('') !important;
}

.playerdetails
{
	text-align:center;
	width: 95%;
	border: solid 8px white;
}

@media all and (min-width: 1280px) and (orientation : landscape) {

.list-wrapper, .list-wrapper div.iscroll-scroller {
    width: 30% !important;
     float: left;
    position: relative;
}

.dtlstabletpanel
{
display:inline-block;
width: 70%;
float: right;
position: relative;
}



}